<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h2>Edit Form</h2>
    <form
        method="POST"
        action="/transactions/<%= transaction.id %>?_method=PUT">
        <div>
            <label for="description">Description: </label>
            <input
               value="<%= transaction.description %>"
               type="text"
               name="description"
               id="description">
        </div>
        <div>
            <label for="description">Amount: </label>
            <input
               value="<%= transaction.amount %>"
               type="number"
               name="amount"
               id="amount">
        </div>
        <div>
            <label for="category_name">Category: </label>
            <input
               value="<%= transaction.category_name %>"
               type="text"
               name="category_name"
               id="category_name">
        </div>
        <input type="submit" value="Update Transaction">
    </form>
</body>
</html>