<%- include('./partials/head') %>

<div id="index">
    <strong>Expenses Tracker</strong>
    <a href="/auth/login" value='Log In' class="button is-primary">Log In</a>
    <a href="/auth/register" value='Register' class="button is-danger">Register</a>
    <a href="/transactions" value='CRUD' class="button is-warning">Do You Even CRUD?</a>
</div>

<%- include('./partials/foot') %>