<%- include('./partials/head') %>
<h1>Ready to track your expenses?</h1>
<div>
    <button><a href="/auth/login">Login</a></button>
    <button><a href="/auth/register">Register</a></button>
</div>
<%- include('./partials/foot') %>