<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div>
        <p>description: <%= transaction.description %></p>
        <p>amount: <%= transaction.amount %></p>

        <form 
            method="POST" 
            action="/transactions/<%= transaction.id %>?_method=DELETE">
            <button type="submit">Delete Transaction</button>
        </form>
    </div>
</body>
</html>